<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933531859631-18qjl1hjlh1faplid3taceuvoln39m1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933531859631-18qjl1hjlh1faplid3taceuvoln39m1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCM3r8c0GMuFA-NjphMcIbZvz6r1AShu9k</string>
	<key>GCM_SENDER_ID</key>
	<string>933531859631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.FirebaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>fir-testapp-d1c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapp-d1c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933531859631:ios:1e29b6ecb14a11865a325a</string>
</dict>
</plist>